body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  overflow: hidden; /* 禁用滾動 */
}

.container {
  display: flex;
  flex-direction: row; /* 讓 header 和 main 在同一行顯示 */
  align-items: flex-start; /* 確保 header 和 main 在頂部對齊 */
}

.header {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  width: 345px; /* 固定 header 的寬度 */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* 添加陰影 */
  height: 100vh; /* 讓 header 佔滿整個視窗高度 */
  position: sticky; /* 讓 header 固定在左側 */
  top: 0;
}

.header h2 {
  text-align: center; /* 將文字置中 */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* 讓導航列中的項目置中 */
}

nav ul li {
  padding: 10px 20px;
  cursor: pointer;
  text-align: center; /* 將文字置中 */
  width: 100%;
}

nav ul li:hover {
  color: #AA6666;
  text-decoration: underline;
  text-decoration-thickness: 2px; /* 底線寬度 */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.intro {
  position: relative;
  width: 80%;
  max-width: 1200px; /* 設置最大寬度 */
  margin: 0 auto; /* 居中對齊 */
  text-align: right; /* 將文字右對齊 */
  background: url('/banner.png') no-repeat center center; /* 設置背景圖片 */
  background-size: cover; /* 確保背景圖片覆蓋整個容器 */
  height: 60vh; /* 設置容器高度 */
  color: white; /* 確保文字顏色與背景形成對比 */
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* 將內容垂直置底 */
  justify-content: flex-end; /* 將內容水平置右 */
  padding: 20px; /* 添加內邊距以防文字緊貼邊框 */
}

.details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* 居中對齊 */
}

.details .detail {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

.details .detail h2 {
  color: #333;
  margin-bottom: 10px;
}