/* styles.css */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

header nav ul {
  list-style-type: none;
  background: #f8f8f8;
  padding: 20px;
  text-align: center;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
  font-weight: bold;
}

main {
  padding: 20px;
  background: #eee;
}

main .introduction h1 {
  color: #000;
}

main .details h2 {
  color: #666;
}

footer {
  text-align: center;
  padding: 20px;
  background: #f8f8f8;
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media (max-width: 768px) {
  header nav ul {
    text-align: left;
  }
  header nav ul li {
    display: block;
    margin-bottom: 10px;
  }
}
